/* Global */
body {
    margin: 0;
    font-family: "Inter", "Poppins", sans-serif;
    background: #0a0a0a;
    color: #fff;
    overflow-x: hidden;
    position: relative;
}

.container {
    padding: 2rem 2rem;
    position: relative;
    z-index: 2;
}

/* Blurred Circles */
.circle-blur {
    position: fixed;
    width: 600px;
    height: 500px;
    border-radius: 50%;
    background: #a855f7;
    filter: blur(200px);
    opacity: 0.5;
    z-index: 0;
    animation: pulseBlur 6s ease-in-out infinite;
}

@keyframes pulseBlur {
    0%,
    100% {
        transform: scale(1);
        opacity: 0.5;
    }

    50% {
        transform: scale(1.2);
        opacity: 0.7;
    }
}

.logo img {
    width: 35px;
    height: 35px;
}

.logo a{
    text-align: center;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
}

.logo a:hover{
    filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.7));
}

.hero {
    margin-top: 5rem;
    max-width: 700px;
    min-height: 50vh;
}

.hero h1 {
    font-size: clamp(1.8rem, 5vw, 3rem);
    font-weight: 700;
    line-height: 1.2;
}

.hero h1 span {
    font-size: clamp(2.5rem, 8vw, 5rem);
    color: #c084fc;
}


.btn-survey {
    display: inline-flex;
    align-items: center;
    margin-top: 2rem;
    padding: 0.9rem 1.6rem;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 8px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease;
}

.btn-survey i {
    margin-left: 8px;
}

.btn-survey:hover {
    background: #c084fc;
    color: #000;
    border-color: #c084fc;
}

/* Survey Form */
.survey {
    margin-top: 5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px 2rem;
}

.survey h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
    text-decoration: underline; 
    color: #fff;
}

.login-card {
    background: #fff;
    padding: 40px 30px;
    border-radius: 20px;
    width: 100%;
    max-width: 380px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    text-align: center;
    position: relative;
}

.form-box {
    display: none;
    animation: fadeIn 0.4s ease;
}

.form-box.active {
    display: block;
}

.admin-link {
    position: absolute;
    top: 0px;
    right: 0px;
}

.admin-link a {
    font-weight: 600;
    color: #000;
    text-decoration: none;
}

.icon-box {
    width: 70px;
    height: 70px;
    border-radius: 20px;
    background: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    margin: 20px auto;
}

.login-card h2 {
    font-size: 20px;
    margin: 10px 0;
    font-weight: 700;
    color: #000;
}

p {
    font-size: 14px;
    color: #333;
    margin: 5px 0 20px 0;
}

.input-box {
    display: flex;
    align-items: center;
    background: #eaeaea;
    border-radius: 30px;
    padding: 12px 15px;
    margin-bottom: 20px;
    position: relative;
}

.input-box .fa-eye, .fa-eye-slash {
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: #666;
}

.input-box i {
    color: #666;
    margin-right: 10px;
}

.input-box input {
    border: none;
    outline: none;
    background: transparent;
    flex: 1;
    font-size: 14px;
    color: #333;
}

.btn-submit {
    background: #000;
    color: #fff;
    border: none;
    padding: 12px 25px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: 0.3s ease;
}

.btn-submit i {
    margin-left: 8px;
}

.btn-submit:hover {
    background: #222;
}

.btn-pill {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 12px 24px;
    border-radius: 999px;
    background: linear-gradient(135deg, #0f0f0f, #260e2eff);
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease;

    border: 0.1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.btn-pill i {
    display: inline-block;
    transition: transform 0.2s ease;
}

.btn-pill:hover i {
    transform: translateX(3px);
}

.btn-pill:hover {
    background: linear-gradient(135deg, #2a0f3b, #0f0f0f);
    transform: translateY(-2px) scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
}

/* Footer */
footer {
    margin-top: 5rem;
    text-align: center;
    padding: 2rem 1rem;
}

footer h1 {
    font-size: clamp(1rem, 8vw, 5rem);
    font-weight: 700;
    color: #d6b3ff;
    line-height: 1.2;
    word-break: break-word;
}

.faq {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}

.faq-item h2 {
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #fff;
}

.faq-item p {
    font-size: 1.05rem;
    line-height: 1.6;
    color: #ddd;
    max-width: 700px;
}

@media (max-width: 768px) {
    .faq {
        grid-template-columns: 1fr;
        gap: 2rem;
        text-align: left;
    }

    .faq-item p {
        font-size: 0.9rem;
        line-height: 1.6;
        color: #ddd;
        max-width: 700px;
    }
}
